<h1>Character Personality Generator</h1>
<div class="input-group">
    <div id="positive-traits" class="box input" aria-placeholder="Positive Traits (Number)" contenteditable="true"></div>
    <div id="neutral-traits" class="box input" aria-placeholder="Neutral Traits (Number)" contenteditable="true"></div>
    <div id="negative-traits" class="box input" aria-placeholder="Negative Traits (Number)" contenteditable="true"></div>
</div>
<div id="generate" class="box button">Generate</div>
<div id="output" class="box output" aria-placeholder="The output will be displayed here..."></div>